<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <header>
    <nav>
      <ul class="sidebar">
        <li onclick="closeSidebar()">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              /></svg
          ></a>
        </li>
        <li><a href="#">Home</a
          ></a></li>
        <li><a href="#">Network</a
          ></a></li>
        <li><a href="#">Profile</a
          ></a></li>
        <li><a href="#">Notification</a
          ></a></li>
        <li><a href="#">Search</a
          ></a></li>
      </ul>
      <ul>
        <li>
          <a href="#">Connect <span class="material-symbols-outlined">travel_explore</span>

</a>
        </li>
        <li class="hideOnMobile">
          <a href="/"
            >Home </a
          >
        </li>
        <li class="hideOnMobile">
          <a href="#"
            >Network
            </a
          >
        </li>
        <li class="hideOnMobile">
          <a href="#"
            >Profile
            </a
          >
        </li>
        <li class="hideOnMobile">
          <a href="/channel"
            >Notification </a
          >
        </li>
        <li class="hideOnMobile">
          <a href="/employees"
            >Search</a
          >
        </li>
        <li onclick="showSidebar()" class="menu-button">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
              /></svg
          ></a>
        </li>
      </ul>
    </nav>
  </header>
  <body>
<!-- </html> -->