<%- include("partials/header.ejs") %>

<div class="form-container"></div>
  <div>
     <h1 class="login-heading">Create Your Free Account</h1>
     <p class="login-para">Already have an account? <a href="/login" class="google-link">Sign in</a></p>
     <div class="anchor-container"> 
       <a href="/auth/google" role="button" class="google-link">
             <i>Sign In with Google</i>
        </a>
     </div>
     <!-- <hr> -->
    <div class="local-login">
       <!-- <div class="input-items"> -->
        <form action="/register" method="POST">
            <div class="input-items">
                <input type="text" class="form-input" name="firstName" placeholder="First name">
                <input type="text" class="form-input" name="lastName" placeholder="Last name">
                <input type="text" class="form-input" name="jobTitle" placeholder="Job title">
                <input type="text" class="form-input" name="city" placeholder="City">
                <input type="text" class="form-input" name="state" placeholder="State">
                <input type="email" class="form-input" name="email" placeholder="Email">
                <input type="password" class="form-input" name="password" placeholder="password">   
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" >
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                </select><br><br>        
                <button type="submit" class="btn ">Sign up</button>
            </div>      
        </form>
    </div>
   </div>
</div>

<%- include("partials/footer.ejs") %>